.level-slot-class {
    background: #95d5b2;
    color: #fff;
    padding: 50px 10px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-slot-class2 {
  background: #74c69d;
   color: #fff;
    padding: 50px 10px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-slot-class2 span {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.level-slot-class span {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.level-slot-info {
  padding: 40px 34px 40px 170px;
  /* background-color: red; */
  border: 1px dashed #e5e5e5;
  border-left: none;
  width: 100%;
  position: relative;
  object-fit: cover;
}
.level-slot-info-content h3 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #1c1c24;
  line-height: 1.2;
}
.level-slot-info-content p {
  margin-bottom: 0;
  color: rgb(136, 136, 136);
    margin-bottom: 15px;
}
.level-slot-student {
  position: absolute;
  left: 20px;
  top: 0;
  width: 120px;
  border-radius: 50%;
  height: 120px;
  bottom: 0;
  margin: auto;
}